.atr-footer {
    align-items: center;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    height: 785px;
    justify-content: center;
    width: 100%;
}

.atr-footer-section {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
    max-width: 1200px;
    min-width: 1000px;
    padding-top: 40px;
}
 .atr-footer-top {
    display: grid;
    grid-template-columns: repeat(4,25%);
    height: 490px;
    width: 100%;
 }

 .atr-column-footer-1 {
    align-items: flex-start;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    height: 433px;
    padding: 20px;
    width: 100%;
 }

 .atr-column-footer-1 small {
   font-size: 14px;
   line-height: 18px;
   color: #6C6C6C;
   font-weight: bold;
 }

 .atr-border-column-space {
    justify-content: space-between;
 }

 .atr-border {
    border: 1px solid #3E88D7;
 }

 .atr-footer-title {
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
 }

 .atr-color-title {
   color: #3E88D7;
 }

 .atr-footer-span {
   align-items: center;
   background-color: #3E88D7;
   border-radius: 40px;
   color: white;
   font-size: 14px;
   line-height: 18px;
   padding: 10px 15px; 
 }

 .atr-footer-span img{
   margin-right: 5px;
 }
 
 .atr-column-footer-1 div {
   display: flex;
   flex-direction: column;
   width: 100%;
 }

 .atr-column-footer-1 div small{
   color: #3E88D7;
   font-weight: normal;
 }

.atr-small-2 {
   color: #6C6C6C;
   font-size: 11px;
   width: 100%;
}

.atr-footer-section-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.atr-footer-section-list ul {
   list-style: none;
}

.atr-footer-section-list ul li {
   margin-bottom: 10px;
}

.atr-footer-section-list ul a {
   margin-bottom: 10px;
   text-decoration: none;
   font-size: 14px;
   line-height: 18px;
   color: #646464;
   font-weight: bold;
}

.atr-column-footer-2 {
   align-items: flex-start;
   background-color: #3E88D7;
   border-radius: 20px;
   display: flex;
   flex-direction: column;
   height: 433px;
   padding: 28px;
   width: 100%;
}

.atr-footer-title {
   font-size: 18px;
   line-height: 22px;
}

.atr-color-title-2 {
   color: white;
}

.atr-footer-span-2 {
   display: flex;
   background-color: #fff;
   padding: 10px 12px;
   border-radius: 40px;
   align-items: center;
   justify-content: center;
   color: #3E88D7;
   line-height: 18px;
}

.atr-footer-span-2 img {
   width: 16%;
}

.atr-footer-publi {
   background-color: #3E88D7;
   border-radius: 20px;
   display: grid;
   grid-template-columns: repeat(3,1fr);
}

.atr-footer-publi-column {
   display: flex;
   flex-direction: column;
   height: 146px;
   justify-content: center;
   margin: 0;
   width: 100%;
}

.atr-footer-publi-column a {
   text-decoration: none;
}

.atr-title-footer-publi {
   color: white;
   font-size: 36px;
   font-weight: bold;
   text-align: center;
}

.atr-title-footer-publi-2 {
   font-size: 18px;
   color: white;
   font-weight: bold;
   line-height: 35px;
   width: 100%;
}

.atr-span-publi {
   align-items: center;
   color: white;
   display: flex;
   font-size: 14px;
   margin: 5px 0;
   font-weight: bold;
}

.atr-span-publi img {
  margin-right: 11px;
}

.atr-footer-copyright {
   align-items: center;
   display: flex;
   height: 150px;
   justify-content: center;
   width: 100%;
}

.atr-footer-copyright span {
   color: #646464;
   font-size: 14px;
   font-weight: normal;
}

/* Rodapé mobile*/

@media (max-width: 700px) {

   .atr-footer {
      display: flex;
      flex-direction: column;
      overflow: auto;
      background-color: black;
      height: 80%;
   }
   .atr-footer-top {
      display: flex;
      flex-direction: column;
      width: 35%;
      align-items: center;
      margin: 0 10px;
   }

   .column-1 {
      display: flex;
      flex-direction: column;
      width: 100%;
   }

   .atr-footer-publi {
      display: none;
   }

   .atr-column-footer-2 {
      margin-top: -185px;
   }

   .atr-footer-copyright span {
      display: flex;
      flex-direction: column;
      color: white;
      width: 35%;
      margin-right: 60%;
      margin-top: 205%;
   }
}
